.category-container {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

#category-section {
  padding: 5%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.category-section-title {
  color: var(--color-text-emphasis);
  font-size: 1.2em;
  font-weight: 500;
}
