#login-section {
  background-color: var(--color-background);
  border-radius: 24px;
  padding: 40px;
  width: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow: 3px 3px 5px var(--color-box-shadow);
  margin-top: 64px;
  margin-bottom: 64px;
}

.login-title{
    color: var(--color-text-emphasis);
    font-size: 1.5em;
    margin-bottom: 16px;
    font-weight: 500;
}
