.App {
  background-color: var(--color-background-dark);
  height: 100vh;
  overflow: auto;
  color: var(--color-text);
  transition: all 300ms;
}

.App.light {
  --color-primary: #7e34ee;
  --color-secondary: #e9742f;
  --color-terciary: #1a2028;
  --color-text: #393b3f;
  --color-text-emphasis: #000;
  --color-background: #f9fbfc;
  --color-background-light: #ffffff;
  --color-background-dark: #f0f2f4;
  --color-box-shadow: lightgray;
}

.App.dark {
  --color-primary: #e9742f;
  --color-secondary: #7e34ee;
  --color-terciary: #13171c;
  --color-text: #7b8088;
  --color-text-emphasis: #fcfeff;
  --color-background: #21272f;
  --color-background-light: #30363e;
  --color-background-dark: #1a2028;
  --color-box-shadow: black;
}

.ellipse {
  transition: all 300ms ease-out;
  width: 75px;
  height: 30px;
  rotate: -14deg;
  left: -7px;
  bottom: -7px;

  border-radius: 50%;
  position: absolute;
  background: radial-gradient(
      closest-side,
      var(--color-background-dark) 95%,
      transparent 99%
    ),
    conic-gradient(
      transparent 0%,
      transparent 15%,
      var(--color-primary) 17%,
      var(--color-primary) 84%,
      transparent 86%
    );
}

.ellipseDec {
  transition: all 300ms ease-out;
  width: 190px;
  height: 70px;
  rotate: -14deg;

  border-radius: 50%;
  position: absolute;
  background: radial-gradient(
      closest-side,
      var(--color-background) 98%,
      transparent 99%
    ),
    conic-gradient(
      transparent 0%,
      transparent 15%,
      var(--color-secondary) 17%,
      var(--color-secondary) 84%,
      transparent 86%
    );
}

.nude-btn {
  background: none;
  border: none;
  padding: 0;
  color: var(--color-text-emphasis);
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.invisible {
  opacity: 0;
}
